beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
google==3.0.0
idna==3.4
protobuf==4.24.3
protobuf-inspector==0.2
requests==2.31.0
soupsieve==2.5
urllib3==2.0.4
websocket-client==1.6.3
jsengine~=1.0.7.post1
quickjs
Flask~=3.0.3